.button{
    background-color: var(--accent);
    color: var(--white);
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    width: max-content;
    flex-shrink: 0;
  }
  
  .button:hover{
    background-color: #9ed6ff;
    transition: 0.3s;
  }