.button{
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: max-content;
  flex-shrink: 0;
  transition: 0.3s;
  align-self: end;
  background-color: var(--accent);
  color: var(--white);
  font-weight: 600;
  height: fit-content;
}

.primary:hover{
  background-color: var(--light-accent);
}

.outline{
  background-color: var(--white);
  border: 1px solid var(--accent);
  color: var(--black);
  font-weight: 400;
}